<nav class="nav">

    <div class="navlist" >
      <div class="navcomponent">SplitWise</div>
      <div class="navcomponent" (click)="Group()">Groups</div>
      <div  class="Profile" >
        <select name="" id="" [(ngModel)]="selectedOption" (change)="onDropDownChange()">
          <option value="Profile">ProfileName</option>
          <option value="Account" >Your Account</option>
          <option value="CreateGroup" >CreateGroup</option>
          <option value="Logout">LogOut</option>
        </select>
      </div>
    </div>
  </nav>