<nav class="nav">

    <div class="navlist" >
      <div class="navcomponent">SplitWise</div>
      <div class="navcomponent" (click)="Group()">Groups</div>
      <div  class="Profile" >
        <form [formGroup]="Profile">
        <select name="" id="">
          <option value="">ProfileName</option>
          <option value="">Your Account</option>
          <option value="">Create Group</option>
          <option value="">LogOut</option>
        </select>
        </form>
      </div>
    </div>
  </nav>